<mat-toolbar color="primary">
  <button (click)="menu.toggle($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Iwt-Finnance control</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<p-overlayPanel #menu>
  <ng-template pTemplate>
    <button pButton pRipple type="button" label="Dashboard" routerLink="/" class="p-mt-2 p-mb-2 p-button-raised"></button>
    <br />
    <button pButton pRipple type="button" label="Meus Investimentos" routerLink="/my-investment" class="p-mt-2 p-mb-2 p-button-raised"></button>
  </ng-template>
</p-overlayPanel>
