/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-title{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}
